@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Montserrat', sans-serif;
$primary: #47b39d !default;
$secondary: #ffc153;

$gray-dark: #212121;
$gray-light: #edf0f2;
$gray-lightest: #fafafa;

$text: #424242;
$text-dark: $gray-dark;
$text-light: $gray-lightest;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

@import '../node_modules/bulma/bulma.sass';
$hero-darken: $dark !default;

@import 'layout';
@import 'syntax';
@import 'showcase';
@import '../node_modules/bulma-block-list/src/block-list.scss';
@import 'rhpc-styles';

.gh-sponsor {
  color: #ea4aaa;
}
