@media screen and (max-width: 1024px)

  /* Banner Area
   * ==================== */
  .hero-body
    flex-grow: initial
    flex-shrink: initial

  /* Homepage Sections
   * ==================== */

  // About Section
  .home
    .about-blurb
      .container
        .blurb
          padding: 20px 5rem

// END 1024 breakpoint

@media screen and (max-width: 768px)



// END 768 breakpoint

@media screen and (max-width: 480px)
  /* Homepage Sections
   * ==================== */

  // About Section
  .home
    .about-blurb
      .container
        .blurb
          padding: 20px 2rem

// END 480 breakpoint
