doctype xml
//- SMTK templates for cycle driver sublist (aka coordinator)
//- From the parent directory:
    > pug ./pug/coordinator.pug --pretty --extension sbt -o .
SMTK_AttributeResource(Version="3")

  Definitions
    AttDef(Type="cycle driver" BaseType="" Version="0")
      ItemDefinitions
        Double(Name="start time")
          DefaultValue 0.0
        String(Name="start time units")
          DiscreteInfo(DefaultIndex="0")
            Value(Enum="second") s
            Value(Enum="day") d
            Value(Enum="year") yr
        String(Name="end-spec" Label="end")
          ChildrenDefinitions
            Double(Name="end time")
            String(Name="end time units")
              DiscreteInfo(DefaultIndex="0")
                Value(Enum="second") s
                Value(Enum="day") d
                Value(Enum="year") yr
            Int(Name="end cycle")
          DiscreteInfo(DefaultIndex="0")
            Structure
              Value time
              Items
                Item end time
                Item end time units
            Structure
              Value cycle
              Items
                Item end cycle

        File(Name="restart from checkpoint file" Optional="true" IsEnabledByDefault="false" ShouldExist="true")

        Double(Name="wallclock duration [hrs]" Optional="true" IsEnabledByDefault="false")

        // Todo "required times"
        Component(Name="PK tree")
          Accepts
            Resource(Name="smtk::attribute::Resource" Filter="attribute[type='pk-base']")

//- Adds newline to end of file
= "\n"
