doctype xml
//- SMTK templates for mesh and region sublists
//- From the parent directory:
    > pug ./pug/domain.pug --pretty --extension sbt -o .
SMTK_AttributeResource(Version="3")

  Definitions
    AttDef(Type="mesh" Label="Mesh" BaseType="" Version="0")
      ItemDefinitions
        String(Name="mesh type")
          ChildrenDefinitions
            Double(Name="domain low coordinate" NumberOfRequiredValues="3")
              DefaultValue 0.0
            Double(Name="domain high coordinate" NumberOfRequiredValues="3")
              DefaultValue 1.0
            Int(Name="number of cells" NumberOfRequiredValues="3")
              DefaultValue 1
          DiscreteInfo(DefaultIndex="0")
            Structure
              Value(enum="generate mesh") generate mesh
              Items
                Item domain low coordinate
                Item domain high coordinate
                Item number of cells

    AttDef(Type="region" Label="Region" Abstract="true" Version="0")

    AttDef(Type="region: all" BaseType="region")

    AttDef(Type="region: box" BaseType="region")
      ItemDefinitions
        Double(Name="low coordinate" NumberOfRequiredValues="3")
        Double(Name="high coordinate" NumberOfRequiredValues="3")

    AttDef(Type="region: plane" BaseType="region")
      ItemDefinitions
        Double(Name="point" NumberOfRequiredValues="3")
        Double(Name="normal" NumberOfRequiredValues="3")

  //- Views
    View(Type="Group" Title="ATS Domain" TopLevel="true" TabPosition="North"
      FilterByAdvanceLevel="true" FilterByCategory="false")
      Views
        View(Title="Mesh")/
        View(Title="Regions")/

    View(Type="Instanced" Title="Mesh")
      InstancedAttributes
        Att(Type="mesh" Name="mesh")/

    View(Type="Attribute" Title="Regions")
      AttributeTypes
        Att(Type="region")/

//- Adds newline to end of file
= "\n"
